{
   "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended",
      "prettier"
   ],
   "parser": "@typescript-eslint/parser",
   "plugins": [
      "@typescript-eslint",
      "prettier"
   ],
   "rules": {
      "@typescript-eslint/explicit-module-boundary-types": "off"
   }
}